/* .navbar {
  background-color: #111927;

  background-image: 
      radial-gradient(at 47% 33%, hsl(180.00, 9%, 77%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-logo {
    color: white;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
 
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(180.00, 9%, 77%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);

      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  } */

  .navbar1{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
  }
  .navbar1 .nav-ul .nav-li{
    display: inline-block;
    padding: 0 20px;
  }
  .navbar1 .nav-ul .nav-li .a{
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;

  }
  .navbar1 .nav-ul .nav-li .a:hover{
    color: #ffc404;
  }

  .navbar1 .logo{
    font-size: 35px;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
  }

  /* .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
  } */
  

  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
  }

  .header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
  }

  .header:hover::before{
     left: 100%;
  }
  .logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
  }

 .navbar .nav-item{
  color:#fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');
#menu-icon{
  font-size: 36px;
  color: #fff;
  display: none;

}

.navbar .nav-item:hover {
  color: #f00;
}

@media (max-width: 992px) {
  .header{
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-icon{
    display: block;
  }
  .navbar{
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: .5rem 4%;
    background: rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
  }
  .navbar .nav-item{
    display: block;
    margin: 1.5rem 0;
  }
} */