* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    font-family: sans-serif;

  }
  .container1{
    height: 100vh;
    width: 100%;

    position: relative;
    background: #000;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .container1::before{
    content: '';
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background: linear-gradient(#08ffe6, #fcd200);
    transform: translate(-490px, -150px);
      
  }

  .container1::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient( #fcd200,#fc002e);
    transform: translate(490px, 170px);
      
  }
  
  .container1 .ball-1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #04f504;
    transform: translate(-250px,200px);
    position: absolute;
  }

  .container1 .ball-3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ffc404;
    transform: translate(150px,250px);
    position: absolute;
  }

  .container1 .ball-2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #08e2ff;
    transform: translate(-10px,-220px);
    position: absolute;
  }

  .container1 .box{
    height: 100vh;
    width: 100%;
    padding: 0,20px;
    background: rgba(255,255,255,.1);
    z-index: 10;
    display: flex;
    position: relative;
    
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(255,255,255,0.25);
  }


  
 


  